@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{  
   padding:0px;
   margin:0px;
   font-family: "Roboto Mono";
   font-weight: 500;
}
body{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
   
}
.content{
    background: white;
    padding:40px;
    border-radius: 5px;
    box-shadow: 0 0 7px black;
    display: flex;
    flex-direction: column;
    gap:15px;
    font-family: sans-serif;
}
h3{
    text-align: center;
    color: blue;
}
.generate{
    width:200px;
    height:35px;
    font-size: 15px;
    background: blue;
    color:white;
    border-radius: 4px;
    border: none;
}
.generate:hover{
    background: white;
    color:blue;
    border:1px solid blue;
}
.footer{
     border: 1px solid grey;
     display: flex;
     height:35px;
     border-radius: 5px;
     
}
.footer input{
    width:240px;
    border: none;
    border-radius: 5px;
    padding: 0px 4px;
}
.footer .copy{
    border: none;
    background-color: green;   
    padding: 7px 10px;
    color:white;
}
.copy:hover{
    background: white;
    color:blue;
    outline:1px solid blue;
    border-radius: 3px;
}
#input{
    height:30px;
    padding: 0px 4px;
}
label{
    padding-left: 5px;
    font-family: cursive;
}